@import "src/styles/core";

.#{$app__ns}contacts {
  min-height: calc(100vh - #{$app__header-height});
  padding: 0 10px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - #{$app__header-height + $app__footer-height});
  }
}

.#{$app__ns}form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 100px;
  font-size: 1.125rem;
  animation: #{$app__anim}slideInDown .5s forwards;
  @include media(md) {
    margin-top: 0;
  }
}

.#{$app__ns}email {
  @include media(xs) {
    font-size: .875rem;
  }
}

.#{$app__ns}message {
  min-height: 5rem;
  font-size: .875rem;
  resize: none;
  border: none;
  border-bottom: 1px solid color(soft);
  margin-bottom: .75rem;
  background-color: transparent !important;

  &::placeholder {
    color: color(soft);
  }
}

.#{$app__ns}links {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1.125rem;
  padding-top: 4rem;

  &__item {
    margin: 0 6px;
    width: 40px;
    height: 40px;
    border-radius: 10em;
    background-color: color(disabled);
    overflow: hidden;
    opacity: 0;

    &:hover, &:focus-within {
      background-color: color(accent);
    }

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: #{$app__anim}fadeIn .25s #{$i * .05 + .35}s forwards;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 20px;
      background-size: 20px;
    }
  }
}

.#{$app__ns}footer {
  margin-top: auto;
}

.#{$app__ns}skype {
  text-decoration: none;
  color: color(typography);

  &:hover {
    color: lighten(color(typography), 20%);
  }
}

.#{$app__ns}purpose {
  transform: rotateZ(-5deg);
  opacity: .3;
}
