@keyframes #{$app__anim}fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes #{$app__anim}fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes #{$app__anim}slideInDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes #{$app__anim}fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes #{$app__anim}zoomInRight {
  0% {
    transform: translate(100%, 100%) rotateZ(45deg) scale(.25);
    opacity: .75;
  }
  100% {
    transform: translate(50%, 50%) rotateZ(45deg) scale(1);
    opacity: 1;
  }
}
