.#{$app__ns}page {
  height: calc(100vh - #{$app__header-height});
  display: flex;
  flex-direction: column;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media(sm) {
      justify-content: flex-start;
    }
  }

  @include media(md) {
    height: auto;
  }
}
