///*------------------------------------
//    #Z-INDEX-MAP
//--------------------------------------*/

$z-index-map: (
        tooltip: 15,
        footer: 50,
        header: 100,
        menu: 1000,
        preloader: 9999,
);
