///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

$color-map: (
        default: #ffffff,
        accent: #FF6473,
        soft: #E3E3E3,
        typography: #454545,
        disabled: #B4B4B4,
        success: #3AD854,
);
